@model BaseModel.Comodo

@{
    ViewBag.Title = "Excluir comodo";
}

<h2>Excluir</h2>


<div>
    <h4>Comodo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeComodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeComodo)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a tela de comodos", "Index")
        </div>
    }
</div>
